doctype html
html.full-page
  head
    != partial("../_partials/head")
    link(rel='stylesheet', href='#{baseUrl}/vendor/jquery.splitter/jquery.splitter.css')
    link(rel='stylesheet', href='#{baseUrl}/js/prism/prism.css')
  body
    header
      != partial("../_partials/header_fluid")

    main.tutorial
      .split-panel
        .left-col
          .tutorial-label
            span Tutorial Instructions
            button.btn.btn-default.btn-sm.big-button(type="button") Large Text
          .container-fluid
            article
              != yield
              a.btn.btn-default.btn-lg.back-button(href='#{baseUrl}/') Back to tutorials

          .tutorial-nav
            div(id="nav-anchor")
            ul.nav

        .right-col
          .jsbin-placeholder
            p.lead JS Bin Loading...
          .jsbin-container

    != partial("../_partials/foot")
    script(src='#{baseUrl}/vendor/jquery.splitter/jquery.splitter.js')
    script(src='#{baseUrl}/vendor/jquery.cookie/jquery.cookie.js')
    script(src='#{baseUrl}/vendor/jquery.scrollTo/jquery.scrollTo.js')
    script(src='#{baseUrl}/js/prism/prism.js')
    script(src='#{baseUrl}/js/tutorials/jsbin.js')
    script(src='#{baseUrl}/js/tutorials/embed.js')
